
.comments__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .comments__list {
        width: 382px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .comments__list {
        width: 928px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media (min-width: 1280px) {
    .comments__list {
        width: 1184px;
    }
}
