
.video__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
}

@media (min-width: 375px) {
    .video__image {
    }
}

@media (min-width: 768px) {
    .video__image {
    }
}
